body {
	background: #e1dede;
}

header {
	background-color: #e8e8e8;
}

h2 {
	text-align: center;
}

header>div {
	display: inline-block;
	margin: 10px;
}

button {
	margin: 20px;
	background-color: green;
	padding: 20px;
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 1.2em;
	text-align: center;
}

input[type="submit"] {
	margin: 20px;
	padding: 20px;
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 1.2em;
	background-color: green;
}

button:hover {
	background-color: yellow;
}

.logOutButton {
	display: inline-block;
	background-color: #b29fd1 !important;
}

.centerButton {
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	margin: 20px;
	background-color: #b29fd1;
	padding: 20px;
	border: none;
	border-radius: 20px;
	font-size: 1.2em;
}

img, h1, h3, Button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.timeStyle {
	font-style: italic;
	text-shadow: 2px 2px #85C1E9;
}
.logOutButton {
	display: inline-block;
    background-color: #b29fd1 !important;
}
.goDash {
	margin: 20px 22em;
	background-color: green !important;
	padding: 20px;
	border: none;
	border-radius: 20px;
	color: white;
	font-size: 1.2em;
	text-align: center;
	display: block;
}