<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{css/cssPage1.css}">
</head>
<body>
	<header>
		<div>
			<a href="login">Login</a>
		</div>
		<div>
			<a href="/register">Sign Up</a>
		</div>
	</header>
	<h1>Choose the Subject</h1>
	<form action="book" th:each="s : ${session.subjects}">
		<input type="submit" th:value="${s}"> 
		<input type="hidden" name="subject" th:value="${s}">
	</form>
	<br>
	<div class="buttonStyle">
		<button>
			<a href="/">Back to Main Page</a>
		</button>
	</div>
</body>
</htm>